.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background-color: lightblue;
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: lightgray;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
  }

  .heading{
    margin-top: 10px;
    text-align: center;
    color: black;
  }
  
  .invalidControl, .invalid-radio-Control input[type="radio"], .invalid-radio-Control input[type="checkbox"]{
    border: 2px red solid !important;
    color: red !important;
    
  }
  .invalidControl::placeholder, .invalid-radio-Control input[type="radio"] + label, .invalid-radio-Control input[type="checkbox"] + label{
    color: red !important;
  }

  

  .validationLable .col {
    color: red;
    display: inline;
  }